@import "../../scss/variables";

.sidebar {
  background: rgb(112, 97, 162);
  background: linear-gradient(to bottom, rgba(112, 97, 162, 1) 0%, rgba(43, 33, 76, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7061a2', endColorstr='#2b214c', GradientType=0);
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 1rem;
  position: fixed;
  width: 322px;
  z-index: 1;
  .close-btn {
    background: none;
    border: none;
    color: $vimeo-white;
    display: none;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
    top: 10px;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  .logo {
    padding: 30px 0;
    img {
      max-width: 80%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative;
      a {
        color: $vimeo-white;
        cursor: pointer;
        font-size: 2rem;
        padding: 0;
        text-decoration: none;
      }
      &::before {
        background: $vimeo-white;
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        width: 5px;
      }
      &:hover,
      &.active {
        a {
          font-weight: 700;
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &.deactive {
    animation: close 0.3s 1;
    left: -322px;

    @keyframes close {
      0% {
        left: 0;
      }
      100% {
        left: -322px;
      }
    }
  }
  &.active {
    animation: open 0.3s 1;
    left: 0;

    @keyframes open {
      0% {
        left: -322px;
      }
      100% {
        left: 0;
      }
    }
  }
}