<div class="sidebar padding">
  <nav>
    <div class="logo">
      <img src="../../assets/images/vimeotest-logo.svg">
    </div>
    <div class="userName">
      {{'NAV.WELCOME' | translate}} {{currentUser.firstName}}
    </div>
    <ul class="nav">
      <li *ngFor="let category of categories" uiSrefActive="active">
        <a uiSref="main.dashboard" [uiParams]="{categoryId: category.id, page: '1'}">{{category.name}}</a>
      </li>
    </ul>
    <button (click)="logout()" class="btn btn-default" [translate]="'NAV.LOGOUT'"></button>
  </nav>
</div>