<section>
  <main>
    <div class="row">
      <div *ngFor="let categoryVideo of categoryVideos" class="col-md-3 video">
        <a uiSref="main.detail" [uiParams]="{videoId: categoryVideo.id}">
          <figure>
            <div class="image">
              <img [src]="categoryVideo.pictures.sizes[3].link">
              <div class="hover"></div>
            </div>
            <figcaption>{{categoryVideo.name}}</figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pagination-container">
        <ngb-pagination [collectionSize]="totalVideos" [(page)]="page" [maxSize]="maxSize" [pageSize]="perPage"
                        [boundaryLinks]=true aria-label="Default pagination"
                        (pageChange)="changePage()"></ngb-pagination>
      </div>
    </div>
  </main>
</section>
